@{
  Layout = "_Layout";
}
<h1>Dream big, or dream small, because if your don't</h1>
<h1>you'll never dream at all.</h1>

<form action="/Dreams/Filter" method="post">
  <label for="search">Search</label>
  <input type="text" id="search" name="search">
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>