@{
  Layout = "_Layout";
}
<h1>Log a new Dream</h1>

<form action="/Dreams/Create" method="post">
  <label for="title">Title:</label>
  <input id="title" name="title" type="text">
  <label for="body">Body:</label>
  <input id="body" name="body" type="text">
  <button class= "btn btn-primary" type="submit">Save</button>
</form>
