@{
  Layout = "_Layout";
}
@using DreamClient.Models
<h1>Dreams that match your query:</h1>

<ol>
@foreach(Dream dream in Model)
{
  <ul>
    <li>Date: @dream.Date</li>
    <li>User: @dream.UserName</li>
    <li>Title: @dream.Title</li>
    <li>Body: @dream.Body</li>
  </ul>
  <br/>
}
</ol>